*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar container */
.nav-items {
    font-family: "Ubuntu", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  /* Logo section */
  .logo-sec {
    font-size: 30px;
    font-family: "Raleway", serif;
    font-weight: 700;
    color: rgb(95, 104, 123);
  }
  
  /* Navigation list */
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-list ul {
    display: flex;
    list-style: none;
    gap: 5px;
  }
  
  .nav-list ul li {
    position: relative;
  }
  
  .nav-list ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0.5px 5px;
    display: inline-block;
    color: rgb(95, 104, 123);
  }
  
    
  /* Dropdown menu */
  .dropdown ul {
    display: none;
    position: absolute;
    min-width: 150px;
    list-style: none;
  }
  
  .dropdown:hover ul {
    display: block;
  }
  
  .dropdown ul li a {
    display: block;
    padding: 0 5px;
    /* color: rgb(55, 156, 69); */
  }
  
  /* Button section */
  .btn-sec {
    margin-left: 10px;
  }
  
  .get-started {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: rgb(55, 156, 69);
    border-radius: 50px;
  }
  



  /* Main page */

  /* Home section styling */
  .first-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Raleway", serif;
    line-height: 50px;
  }
  .first-row h1{
    font-size: 48px;
    color: rgb(95, 104, 123);
    font-weight: 700;
    
  }
  .first-row p{
    font-size: 15px;
  }
  .home-btn{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .home-btn button{
    border: none;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: rgb(55, 156, 69);
    border-radius: 50px;
  }
  .watch-vid{
    display: block;
    font-size: 20px;
    color: rgb(55, 156, 69);
    font-family: "Roboto", serif;
  }
  .watch-vid a:hover{
    color: green;
  }
  .watch-vid a{
    text-decoration: none;
    color: rgb(99, 99, 99);
  }

  .hero-image{
    width: 400px;
    height: auto;
  }
  
 /* Second row */
 .second- {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 30px;
  color: #00c37a;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #4a4a4a;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #666;
}